
.main-tables-container {
    justify-content: center;
}

.product-cards-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.bitcoin-img-container {
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
}

.plans-container__slider {
    justify-content: center;
}